.item-block{
    width: 52vw;
    height: 42vh;
    bottom: 7%;
    right: 18%;
    position: absolute;
}

.item{
    /*background: url(../../img/items/sofa7.png) no-repeat scroll center center;*/
    /*-webkit-background-size: contain;*/
    /*-moz-background-size: contain;*/
    /*background-size: contain;*/
    /*-o-background-size: contain;*/
    width:100%;
    text-align: center;
    color: #fff;
    height: 100%;
    border: 1px solid white;
}